/* ----------
     Reset
   ----------
*/

* {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
     Common
   ----------
*/

body{
    background-color:#f6f8f9 ;
}

ul{
    list-style: none;
}

.intestazioni{
    color: #434851;
    margin-top:30px;
    
}

/* ----------
     header
   ----------
*/

header {
    height: 70px;
    background-color: white;
    padding: 15px;
}

#logo {
    vertical-align: middle;
    display: inline-block;
    
}

.titolo {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}


/* ----------
     Main
   ----------
*/

.contenitore{
 margin: auto; 
    width: 70%; 
}

.button{
    margin: auto;
    
    height: 50px;
    background-color: white;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

button{
    width: 72px;
    height: 27px;
    border-radius: 5px;
    border: 0 solid white;
    background-color: #14aaf5;
    color: white;
    
    
}

.button-selection{
    background-color: white;
    color: gray;
    width: 90px;
    border: 1px solid gray;

}

/* ----------
     Sezioni
   ----------
*/
.sezioni{
    margin-top: 5px;
    height: 750px;
    background-color: white;
    padding-left: 40px;
    padding-top: 40px;
}

li::before{
content: "\2713";
height: 50px;
width: 50px;
font-size: 15px;
border: 2px solid #3acab0 ;
border-radius:50%;
text-align: center;
color: #3acab0;
margin-right: 10px ;
font-weight: bold;
}

.across::before{
    content: "\2715";
    height: 50px;
    width: 50px;
    font-size: 15px;
    border: 2px solid #ff1b1b ;
    border-radius:50%;
    text-align: center;
    color: #ff1b1b;
    margin-right: 10px ;
    font-weight: bold;
    }


.elemento{
    display: inline-block;
    color: white;
    width: 80px;
    height: 25px;
    background-color: #14aaf5;
    text-align: center;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px;
    vertical-align: middle;
    margin-left: 5px;
}

.testo-elemento{
    line-height: 25px;
}

li{
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold;
    color: #434851;
}

/* ----------
     COLORAZIONI
   ----------
*/
.orange{
background-color: #ff9b00;
}

.purple{
    background-color:#ab5de6 ; 
}

.green{
    background-color: #2cc6ab;
}

.pink{
    background-color: #ec4a9d;
}
.lightgreen{
    background-color: #a3d116;

}